hg5km4y37lgir6r3.onion ; eğlenin 
Hitler
http://kpynyvym6xqi7wz2.onion/nsdap/hitler/ 
Arada bağlantı sorunları oluyo→http://naziorgukitfhvms.onion/

Türk
http://dwturkzhcyshaypv.onion
Türkçe bilgiler→http://n3q7l52nfpm77vnf.onion/turkce/index.htm
Acil Erişim Merkezi→http://imtrjhs6n6widwmr.onion/aem-2826/
DeepWeb Social Network Platform→http://socialiuqeyoawgt.onion
http://hg5km4y37lgir6r3.onion/ Euro Buk Simulator 2014
http://maqc6rgyz3pnoteh.onion/tr Security In A Box | Tools and tactics for your digital security
http://dwturkzhcyshaypv.onion/ Turkish Dark Network - TDN Kolektif
http://thhazdmx2kymozql.onion/ Turkish Hidden Hosting
http://jtsjxetldfxcdnlx.onion/ Turkish Onion Forum
http://tufxbsrnema5a6qa.onion/ Turkish Uncensored Forum
http://tufprj3pslo56ilh.onion/ Turkish Uncensored Forum Open Portal
http://turk3adx652d7ao7.onion/ Türkçe Sosyal Ağ

Link ve Döküman arşivi
Çeşitli dökümanlar:
http://3cpleimu2getp5q7.onion/library/
Link:
İçerik arama→http://jdpskjmgy6kk4urv.onion/links.html
İçerik arama→http://bdpuqvsqmphctrcs.onion/
http://torlinkbgs6aabns.onion/ 
http://j4ko5c2kacr3pu6x.onion/

http://hlinkhign4obv3a3.onion/


------Dosya Arşivleri--------
http://kpynyvym6xqi7wz2.onion/nsdap/hitler/ 
http://3cpleimu2getp5q7.onion/library/

------Link Arşivleri-------- 
http://kpynyvym6xqi7wz2.onion/links.html 
http://torlinkbgs6aabns.onion/ 
http://j4ko5c2kacr3pu6x.onion/ 
http://gkqmy7ioqptiru5o.onion/ 
http://torlinkbgs6aabns.onion/ 
http://torlinksccquz7bi.onion/ 
http://hlinkhign4obv3a3.onion/ 



------Chat Odaları-------
//--Odalardaki linkleri ve resimleri açarken dikkat edin cp olabilir--\\
http://tetatl6umgbmtv27.onion/
http://q23npghw5rkwelhw.onion/chat.cgi
http://xmh57jrzrnw6insl.onion/5dc02cc7lc...md=Search!
http://opnju4nyz7wbypme.onion/ chat
http://chat7zlxojqcf3nv.onion/chx
http://prjadetzgebvdmb6.onion/cgi-bin/chat.pl

------Bulut Depolama-------
http://sigaintevyh2rzvw.onion/signup.php


------Kesinlikle Bakılması Gerekenler--------
http://62.142.11.7/parazite/index.shtml 
http://nope7beergoa64ih.onion/
http://h2am5w5ufhvdifrs.onion/
http://jdpskjmgy6kk4urv.onion/links.html
http://bdpuqvsqmphctrcs.onion/
http://skunksworkedp2cg.onion/ 
http://auutwvpt2zktxwng.onion/
http://directdal7bourmy.onion/
http://32rfckwuorlf4dlv.onion/

------// Deep Web Hidden Service #100 \\------
http://ca4xqmveiuzh3bnl.onion/


------Silah Yapımı-------
http://nope7beergoa64ih.onion/LiberaTor/ 


------Bitcoin Exchange-------
https://blockchainbdgpzk.onion/


-------Hacker Kiralama-------
http://2ogmrlfzdthnwkez.onion/ 

------ +18 İçerikli-------
http://vefqdlcknb2npgk6.onion/


------Bitcoin Karşılığı Şeyler-------
http://5p6s4vkwdapnsiaw.onion/



------Wiki-------
http://torvps7kzis5ujfz.onion/index.php/TorVPS
http://zqktlwi4fecvo6ri.onion/wiki/index.php/Main_Page

------E-Mail Servisleri-------
http://mail2tor2zyjdctd.onion/
http://torbox3uiot6wchz.onion/



------Forumlar-------
http://hforum53umdxo7b3.onion/
http://legionhiden4dqh4.onion/


------Sms Güvenliği ?-------
http://sms4tor3vcr2geip.onion/


------İşkence-------
http://ynplxnpkfrjqfljh.onion/nq4gamban3mskgi5uasc
http://ynplxnpkfrjqfljh.onion/xvesirhhw4hyftiptxf7



------İçeriği Belirsizler ------
http://thehiddenwiki.org/http://secretsxsrvlpawm.onion/
http://anastiel.blogspot.com.br/2015/08/...-lua.html…
http://sigaintevyh2rzvw.onion/
http://rjzdqt4z3z3xo73h.onion/
http://soupkso3la22ltl3.onion/
http://oniichanylo2tsi4.onion/
http://libertygb2nyeyay.onion/
http://dtchp2f74jp64odp.onion/
http://www.linuxx.eu/p/deep-web-link-list-onion.html
http://kpynyvym6xqi7wz2.onion/links.html
http://rrcc5uuudhh4oz3c.onion/
http://zzq7gpluliw6iq7l.onion/
http://2agobs57djngatwc.onion/
http://zupyv3e5spdok6nw.onion/
http://gkqmy7ioqptiru5o.onion/
http://h2am5w5ufhvdifrs.onion/
http://nope7beergoa64ih.onion/
http://c65mcoididjlt3zo.onion/pdf/
http://jdpskjmgy6kk4urv.onion/links.html
http://torlinkbgs6aabns.onion/
http://32rfckwuorlf4dlv.onion/
http://directdal7bourmy.onion/

http://skunksworkedp2cg.onion/

Vault of Sex and Dead: http://5p6s4vkwdapnsiaw.onion/ 

Tabi bu kadar şeyden sonra buraya girmezsek olmaz :D  = https://encyclopediadramatica.se/Offended

6.Seviye ye yakın : 
Yeraltı dünyası - http://LM3DxLL.rdos

Eski insanların uzaya göçü - http://ZZZZZ3qF.rdos

Nazi'ler hakkında saklı bilgiler - http://514KF42v.rdos

ABD'nin dünyayı sarsacak özel dosyası - http://z8R2Myvz.rdos

Dünya dışı yaşam'ın UFO Teknolojisinin yapım projesi- http://EUAi0wph.rdos

Illuminati hakkında saklı bilgiler- http://nR5ZMajL.rdos

Dünyanın en zengin iş adamlarının özel bilgileri (***** vb.) - http://XAGxthAB.rdos

Paralel evren - http://6nXDwKW2.rdos

Uzaktan HAARP'ı kontrol etme - http://45jAEnn1.rdos

NASA-Uzay İstasyonu bağlantı kodları - http://8fitM3fk.rdos

Uzaylılarla ABD'nin ilişkisi. - http://w3ns0q4v.rdos

Nasa'nın Saklı Ufo Dosyaları - http://eah1mr61.rdos

Quantum Teknolojisi - http://sx1zzzzz.rdos

Tesla'nın Işınlanma Yapım Projesi - http://GGGGGGGG.rdos

Area 51'in Gizli Planları - http://uen5c84x.rdos

Yazıcı ile gerçeğinden farksız para çıkartma - http://b3hqj56x.rdos

Dünya dışı yaşamın kullandığı teknolojiler - http://p0nkk91N.rdos

Işık hızını aşmak için kullanılıcak proje. - http://iZr8fMca.rdos

Ünlü şirketlerin para kasası şifreleri - http://9Jfz4hrE.rdos

İnsan Deneyleri - http://sMKTKJVa.rdos

Ölümsüzlüğün Formülü - http://y7mujomP.rdos

Gelecekten gelen insanlarla dolu forum (3. dünya savaşı vb teknolojileri paylaşıyorlar) - http://8OD1uSrP.rdos

Subliminal mesaj ile insan öldürme - http://EBZ9tOvU.rdos

minecraft mod >> http://en5buipyzq6di5bi.onion/
gizli itiraflar >> http://confessx3gx46lwg.onion/
onion mail >> http://w2wqyssyue7l63q2.onion/
GNU Privacy Guard >> http://ic6au6u54iexa64n.onion/index.html
TorVPS >> http://torvps7kzis5ujfz.onion/index.php/TorVPS
Keyringer >> http://4qt45wbulqipigwa.onion/
upload sitesi >> http://goatsecak32amhqm.onion/
http://uhyoysy6sf32qwv2.onion/
free Snowden >> http://zwyrdkm6lango272.onion/
rent a hacker >> http://rowtogxp2akwem6n.onion/
PrivateFox >> http://pfoxkj3p65uyc5pe.onion/
CCR Shop >> http://t43z4b2l5c3xacev.onion/
SafePay >> http://dugonj4mglbrusq6.onion/
onionize >> http://a6c6l67xepnlg2lj.onion/
DuckDuckGo >> http://3g2upl4pq6kufc4m.onion/
WikiLinks >> http://wikiiks4cldsvft2.onion/
Ahmia search >> https://ahmia.fi/stats/viewer
hidden wiki >> http://zqktlwi4fecvo6ri.onion/
deepdotweb >> http://deepdot35wvmeyd5.onion/
hack group >> http://hackeonon7k7pnhi.onion/
WikiLinks >> http://wikiiks4cldsvft2.onion/
hack tools >> http://megadlpkkcsiktyp.onion/hack-tools.php
udemy setleri >> http://megadlpkkcsiktyp.onion/hacking-list.php
gelişmiş mail sitesi >> http://sigaintz7qjj3val.onion/
TorCheck >> http://5deqglhxcoy3gbx6.onion/
değişik bir sayfa >> http://allyour4nert7pkh.onion/
rent a hacker >> http://hackeroql4l2mejs.onion/
garip müzikler >> http://lolicore75rq3tm5.onion/archive/
italy irc >> http://czeusi2cjuey57hf.onion/ 

Online pasaport satımı  : http://njs4tmqjy64rpyji.onion/index.php


nope7beergoa64ih.onion/LiberaTor/ : Silah yapımıyla ilgili .pdf dosyalarını paylaşan kütüphane sitesidir. Buradan belirli silah yapımına ait döküman bulabilirsiniz.

facebookcorewwwi.onion : Facebook'un TOR sitesidir. Buradan da normal Facebook'a girebilirsiniz.

xcomics5vvoiary2.onion/ : Erotik çizgi romanlarını paylaşan sitedir. Girip bakın, çok güzel erotik romanlar var burada.

4iahqcjrtmxwofr6.onion/ : Stratejik İstihbarat Ağı sitesidir. Buradan atlasa göz atabilir, kütüphane bölümüne girip istediğiniz dökümanı bulabilirsiniz.

ruwioyzbajeuabmo.onion/index.php : Yeni kurulmuş türk forum sitesidir. Girip bakabilirsiniz.

bdpuqvsqmphctrcs.onion/ : Tıpkı ahmia.fi gibi buradan sadece .onion linklerini yazıp bulabilirsiniz.
